.home {
  background-image: url("../img/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
  h3 {
    width: 600px;
    position: absolute;
    top: 410px;
    color: #fff;
    font-size: 20px;
  }
  .melody-lab-bg {
    position: relative;
    left: -32%;
    top: 120px;
    img {
      height: 275px;
    }
  }
  #melody-note {
    position: absolute;
    right: 0;
    width: 400px;
    float: right;
    img {
      height: 500px;
      display: block;
    }
  }
}

