.head {
  width: 100%;
  display: block;
  margin: 0 auto;
  float: left;
  position: relative;
  z-index: 1;
  .head-icons {
    float: right;
    position: relative;
    margin-right: 13%;
    display: block;
    width: 570px;
    margin-top: 20px;
    &__socials {
      display: block;
      position: relative;
      float: left;
      width: 130px;
      margin-top: 6px;
      &--link {
        color: #005b58;
        display: block;
        font-size: 18px;
        display: inline-block;
        margin-left: 10px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        width: 28px;
        background: #fff;
        border-radius: 50%;
        &:hover {
          color: #013a3a;
          background-color: #3dfbe5;
          transition: 300ms ease;
          transform: scale(1.05);
        }
      }
    }
    span {
      margin-left: 40px;
      display: inline-block;
      color: #fff;
      font-family: $gothamLight;
    }
    &__callback {
      width: 190px;
      height: 45px;
      border-radius: 30px;
      display: inline-block;
      text-align: center;
      line-height: 44px;
      font-size: 14px;
      border: 0;
      outline: none;
      color: #072624;
      font-family: $gothamLight;
      background-color: #32ddc9;
      cursor: pointer;
      margin-left: 30px;
      &:hover {
        transition: 300ms ease;
        transform: scale(1.03);
        background-color: #fff;
      }
    }
  }
}